# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/allspring.iml
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.iml

